services:
    twitter.client:
        class: TwitterBundle\Services\Twitter
        arguments: ["@doctrine.orm.default_entity_manager", "@service_container"]

parameters:
    consumer_key:     "your-twitter-consumer-key"
    consumer_secret:  "your-twitter-consumer-secret"
    token:            "your-twitter-token"
    token_secret:     "your-twitter-token-secret"